.collapseParents{
    min-width: 880px;
}
.collapseParents .el-collapse-item__header{
    transition: background-color 0.3s;
}
.collapseParents .is-active{
    background-color: #bdbdbd !important;
}
.collapseParents .el-collapse-item__header:hover{
    background-color: #bdbdbd !important;
}
.el-collapse-item__content{
    padding-bottom: 0px;
}