.elTable{
    padding-bottom: 0px !important;
}
.el-table--enable-row-hover .el-table__body tr:not(.noHoverClass):hover>td.el-table__cell {
    background-color: #e0e0e0 !important;
}
.el-table__body tr.current-row:not(.noHoverClass)>td.el-table__cell {
    background-color: #e0e0e0 !important;
}
.el-table__body tr.noHoverClass > td.el-table__cell {
    transition: border-top 0.05s ease, border-bottom 0.05s ease;
}
.el-table--enable-row-hover .el-table__body tr.noHoverClass:hover>td.el-table__cell {
    background-color: inherit !important;
    border-top: 2px solid #555555;
    border-bottom: 2px solid #555555;
}
.el-table__body tr.current-row.noHoverClass>td.el-table__cell {
    background-color: inherit !important;
    border-top: 2px solid #555555;
    border-bottom: 2px solid #555555;
}
/* logList被複製欄位 */
.column__copyTitle > .cell{
    color: #e65c5c !important;
}
/* logList被複製欄位 */
.column__copyColumn{
    padding: 1px 0px !important;
}