.el-tabs__nav.is-left{
    width: 100% !important;
}
.el-tabs__header.is-left{
    min-width: 100px !important;
}
.el-tabs__item.is-active{
    background-color: #dddddd !important;
}
.el-tabs__item:hover{
    background-color: #dddddd !important;
}
.el-tabs__content{
    height: calc(100% - 20px) !important;
}
/* procureListBody */
#tabTable .el-tabs__content {
    height: calc(100% - 69px) !important;
}